## Estructuras de Datos

1) Crear una lista que contenga nombres de ciudades del mundo que contenga más de 5 elementos e imprimir por pantalla

In [2]:
Ciudades_Mundo = ['Cartagena', 'Seúl', 'Tokio', 'Barcelona', 'Paris', 'Tampa']

print(Ciudades_Mundo)

['Cartagena', 'Seúl', 'Tokio', 'Barcelona', 'Paris', 'Tampa']

2) Imprimir por pantalla el segundo elemento de la lista

In [4]:
print(Ciudades_Mundo[1])

Seúl

3) Imprimir por pantalla del segundo al cuarto elemento

In [8]:
print(Ciudades_Mundo[1:4])

['Seúl', 'Tokio', 'Barcelona']

4) Visualizar el tipo de dato de la lista

In [9]:
type(Ciudades_Mundo)

list

5) Visualizar todos los elementos de la lista a partir del tercero de manera genérica, es decir, sin explicitar la posición del último elemento

In [10]:
print(Ciudades_Mundo[2:])

['Tokio', 'Barcelona', 'Paris', 'Tampa']

6) Visualizar los primeros 4 elementos de la lista

In [12]:
print(Ciudades_Mundo[:4])

['Cartagena', 'Seúl', 'Tokio', 'Barcelona']

7) Agregar una ciudad más a la lista que ya exista y otra que no ¿Arroja algún tipo de error?

In [13]:
Ciudades_Mundo.append('Barranquilla')

In [14]:
Ciudades_Mundo.append('Tokio')

In [4]:
print(Ciudades_Mundo) 
# No aparece ningún error ya que los elementos de las listas pueden estar duplicados

['Cartagena', 'Seúl', 'Tokio', 'Barcelona', 'Paris', 'Tampa']

8) Agregar otra ciudad, pero en la cuarta posición

In [16]:
Ciudades_Mundo.insert(3, 'Washington')
print(Ciudades_Mundo)

['Cartagena', 'Seúl', 'Tokio', 'Washington', 'Barcelona', 'Paris', 'Tampa', 'Barranquilla', 'Tokio']

9) Concatenar otra lista a la ya creada

In [18]:
Ciudades_Colombia = ['Sincelejo', 'Cali', 'Medellín']

Lista_Ciudades = Ciudades_Mundo + Ciudades_Colombia

print (Lista_Ciudades)

['Cartagena', 'Seúl', 'Tokio', 'Washington', 'Barcelona', 'Paris', 'Tampa', 'Barranquilla', 'Tokio', 'Sincelejo', 'Cali', 'Medellín']

10) Encontrar el índice de la ciudad que en el punto 7 agregamos duplicada. ¿Se nota alguna particularidad?

In [5]:
print (Ciudades_Mundo.index('Tokio'))

#Aparece el indice de la primera instancia

2

11) ¿Qué pasa si se busca un elemento que no existe?

In [6]:
print (Ciudades_Mundo.index('Tokyo')) #Muestra un error marcando de que no está en la lista

ValueError: 'Tokyo' is not in list

12) Eliminar un elemento de la lista

In [7]:
Ciudades_Mundo.remove('Tokio')

print (Ciudades_Mundo)

['Cartagena', 'Seúl', 'Barcelona', 'Paris', 'Tampa']

13) ¿Qué pasa si el elemento a eliminar no existe?

In [8]:
Ciudades_Mundo.remove('Tokyo')

print (Ciudades_Mundo) #Muestra un error marcando de que no está en la lista

ValueError: list.remove(x): x not in list

14) Extraer el úlimo elemento de la lista, guardarlo en una variable e imprimirlo

In [9]:
ult_valor = Ciudades_Mundo.pop()

print(ult_valor)

Tampa

15) Mostrar la lista multiplicada por 4

In [10]:
print (Ciudades_Mundo * 4)

['Cartagena', 'Seúl', 'Barcelona', 'Paris', 'Cartagena', 'Seúl', 'Barcelona', 'Paris', 'Cartagena', 'Seúl', 'Barcelona', 'Paris', 'Cartagena', 'Seúl', 'Barcelona', 'Paris']

16) Crear una tupla que contenga los números enteros del 1 al 20

In [3]:
nums = (1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20)

17) Imprimir desde el índice 10 al 15 de la tupla

In [13]:
print (nums[10:15])

(11, 12, 13, 14, 15)

18) Evaluar si los números 20 y 30 están dentro de la tupla

In [15]:
print(20 in nums)
print(30 in nums)

True
False

In [15]:
x = 20

while x >= 20 and x <= 30:
    if x in nums:
        print (x, ' se encuentra en la tupla nums')
    else:
        print (x , ' no se encuentra en la tupla nums')
    x += 1

20  se encuentra en la tupla nums
21  no se encuentra en la tupla nums
22  no se encuentra en la tupla nums
23  no se encuentra en la tupla nums
24  no se encuentra en la tupla nums
25  no se encuentra en la tupla nums
26  no se encuentra en la tupla nums
27  no se encuentra en la tupla nums
28  no se encuentra en la tupla nums
29  no se encuentra en la tupla nums
30  no se encuentra en la tupla nums

19) Con la lista creada en el punto 1, validar la existencia del elemento 'París' y si no existe, agregarlo. Utilizar una variable e informar lo sucedido.

In [5]:
if Ciudades_Mundo.count('París') > 1:
    print('Ya existe')
else: 
    Ciudades_Mundo.append('París')
    print('París fue añadido al final de la lista')

París fue añadido al final de la lista

20) Mostrar la cantidad de veces que se encuentra un elemento específico dentro de la tupla y de la lista

In [6]:
print ('Cartagena está ', Ciudades_Mundo.count('Cartagena'), ' veces en la lista')

print ('6 está ', nums.count(6), ' veces en la tupla')

Cartagena está  1  veces en la lista
6 está  1  veces en la tupla

21) Convertir la tupla en una lista

In [7]:
list(nums)

print (nums)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20)

22) Desempaquetar solo los primeros 3 elementos de la tupla en 3 variables

In [9]:
tuple(nums)

a,b,c,_,_,_,_,_,_,_,_,_,_,_,_,_,_,_,_,_ = nums

print (a, ' ', b, ' ', c)

1   2   3

23) Crear un diccionario utilizando la lista crada en el punto 1, asignandole la clave "ciudad". Agregar tambien otras claves, como puede ser "Pais" y "Continente".

In [11]:
diccionario = dict()

diccionario['Ciudad'] = Ciudades_Mundo
diccionario['Pais'] = []
diccionario['Continente'] = []

print (diccionario)

{'Ciudad': ['Cartagena', 'Seúl', 'Tokio', 'Barcelona', 'Paris', 'Tampa', 'París'], 'Pais': [], 'Continente': []}

24) Imprimir las claves del diccionario

In [12]:
print(diccionario.keys())

dict_keys(['Ciudad', 'Pais', 'Continente'])

25) Imprimir las ciudades a través de su clave

In [13]:
print(diccionario['Ciudad'])

['Cartagena', 'Seúl', 'Tokio', 'Barcelona', 'Paris', 'Tampa', 'París']